.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}

.form-control input:focus {
  outline: none;
  background: #fad0ec;
  border-color: #8b005d;
}

.form-control.invalid input {
  border-color: red;
  background: rgb(215, 169, 169);
}

.form-control.invalid label {
  color: rgba(150, 58, 58, 0.758);
}

/*#76 Above we will be implementing a conditional css style code, if the form-control class also has the invalid class then only apply this style, and to do that we have to write the two class names together without any gap like in a way below:
.form-control.invalid {
  border-color: #8b005d; this is just the demo style code
}
*/
